<% include ./partials/header %>

<div class="container">
    <header class="jumbotron">
        <div class="container text-center">
            <h1>IEEE</h1>
            <p>Giúp cho công việc của bạn trở nên dễ dàng hơn</p>
            <a class="btn btn-primary btn-large" href="/editor/new">Thêm văn bản mới</a>
        </div>
    </header>

    <div class="row">
        <div class="col-md-2">
            <ul>
                <!-- Chưa hoàn thiện -->
                <li><a href="#" style="text-decoration: none">Hiển thị danh sách văn bản</a></li>
                <li><a href="#" style="text-decoration: none">Hiển thị danh sách đối tác</a></li>
            </ul>
        </div>

        <div class="col-md-10">
            <div class="row" style="display:flex; flex-wrap:wrap;">
                <% documents.forEach(function(doc){ %>
                    <div class="col-md-3 col-sm-6">
                        <div class="thumbnail">
                                <div class="caption">
                                    <h4><a href="/editor/<%= doc._id %>" style="text-decoration: none"> <%= doc.name %> </a></h4>
                                </div>
                        </div> 
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    
    
</div>

<% include ./partials/footer %>