  <!-- Include At.JS javascript. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/at.js/1.4.0/js/jquery.atwho.min.js"></script>
  <script type="text/javascript" src="/js/autoComplete.js"></script>

  <!-- Initialize the editor. -->
  <script>
    $(function() {
      $('#froala-editor').froalaEditor({
        height: 500
      })
    });
  </script>

  <!--socket.io-->
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/js/socketClient.js"></script>

   
</body>
</html>